# general things to ignore
.DS_Store
*.lock
*.tmp
*.log
*.synctex.gz
*.data.plist
.urs_cookies
.netrc
.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
*.Rproj

**/*.lock
**/*.tmp
**/*.log
**/*.synctex.gz
**/*.data.plist
**/.urs_cookies
**/.netrc
**/.Rproj.user
**/.Rhistory
**/.Rapp.history
**/.RData
**/.Ruserdata
**/*.Rproj

manuscript/*